<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Music Archive</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="styles.css">

</head>
<body>

    <div id="header">
        <h1>Music Archive</h1>
    </div>
    <div id="line"></div>

    <div id="body">
        <div class="column">
            <h2>Lists</h2>

            <div id="content-box">
                <h3>Create new list</h3>
                <div id="create-bar">
                    <input type="text" class="text-input" id="inputListName" placeholder="List Name">
                    <button class="btn" id="btnCreateList">Create</button>
                </div>
            </div>

            <div id="content-box">
                <input type="checkbox" class="checkbox" id="cb-list">
                <div class="row">
                    <h3>List Name</h3>
                        <form>
                            <fieldset id="filter">
                                <input type="radio" value="value1" name="group">Sort Artist (A-Z)<br>
                                <input type="radio" value="value2" name="group">Sort Album (A-Z)<br>
                                <input type="radio" value="value3" name="group">Sort Track (A-Z)<br>
                                <input type="radio" value="value4" name="group">Sort Length (Asc)<br>
                            </fieldset>
                        </form>
                </div>
                <div class="track-box">
                    <p>1. Track Name - Artist - Album</p>
                    <p>00:00:00</p>
                </div>
                <div class="track-box">
                    <p>3. Track Name - Artist - Album</p>
                    <p>00:00:00</p>
                </div>
                <div class="track-box">
                    <p>2. Track Name - Artist - Album</p>
                    <p>00:00:00</p>
                </div>
            </div>

            <div id="content-box">
                <input type="checkbox" class="checkbox" id="cb-list">
                <div class="row">
                    <h3>List Name</h3>
                        <form>
                            <fieldset id="filter">
                                <input type="radio" value="value1" name="group">Sort Artist (A-Z)<br>
                                <input type="radio" value="value2" name="group">Sort Album (A-Z)<br>
                                <input type="radio" value="value3" name="group">Sort Track (A-Z)<br>
                                <input type="radio" value="value4" name="group">Sort Length (Asc)<br>
                            </fieldset>
                        </form>
                </div>
                <div class="track-box">
                    <p>1. Track Name - Artist - Album</p>
                    <p>00:00:00</p>
                </div>
                <div class="track-box">
                    <p>3. Track Name - Artist - Album</p>
                    <p>00:00:00</p>
                </div>
                <div class="track-box">
                    <p>2. Track Name - Artist - Album</p>
                    <p>00:00:00</p>
                </div>
            </div>

            <div id="content-box">
                <input type="checkbox" class="checkbox" id="cb-list">
                <div class="row">
                    <h3>List Name</h3>
                        <form>
                            <fieldset id="filter">
                                <input type="radio" value="value1" name="group">Sort Artist (A-Z)<br>
                                <input type="radio" value="value2" name="group">Sort Album (A-Z)<br>
                                <input type="radio" value="value3" name="group">Sort Track (A-Z)<br>
                                <input type="radio" value="value4" name="group">Sort Length (Asc)<br>
                            </fieldset>
                        </form>
                </div>
                <div class="track-box">
                    <p>1. Track Name - Artist - Album</p>
                    <p>00:00:00</p>
                </div>
                <div class="track-box">
                    <p>3. Track Name - Artist - Album</p>
                    <p>00:00:00</p>
                </div>
                <div class="track-box">
                    <p>2. Track Name - Artist - Album</p>
                    <p>00:00:00</p>
                </div>
            </div>

        </div>

        <div class="column">
            <h2>Search</h2>

            <div id="content-box">
                <h3>Search for content.</h3>
                <div id="create-bar">
                    <input type="text" class="text-input" id="inputSearch" placeholder="Track, album or artist name">
                    <button class="btn" id="btnSearch">Search</button>
                </div>
                <form>
                    <fieldset id="filter-row">
                        <input type="radio" value="value1" name="group">Sort Artist (A-Z)<br>
                        <input type="radio" value="value2" name="group">Sort Album (A-Z)<br>
                        <input type="radio" value="value3" name="group">Sort Track (A-Z)<br>
                        <input type="radio" value="value4" name="group">Sort Length (Asc)<br>
                    </fieldset>
                </form>
            </div>

            <div class="max-width" id="searchColumn">
                <!-- <div id="content-box">
                    <input type="checkbox" class="checkbox" id="cb-list">
                    <div class="track-box">
                        <p>Track Name - Artist - Album</p>
                        <p>00:00:00</p>
                    </div>
                </div>

                <div id="content-box">
                    <h3>Album Name</h3>
                    <div class="track-box">
                        <p>1. Track Name - Artist - Album</p>
                        <p>00:00:00</p>
                    </div>
                    <div class="track-box">
                        <p>2. Track Name - Artist - Album</p>
                        <p>00:00:00</p>
                    </div>
                    <div class="track-box">
                        <p>3. Track Name - Artist - Album</p>
                        <p>00:00:00</p>
                    </div>
                </div>

                <div id="content-box">
                    <h3>Artist Name</h3>
                    <p>Artist Members: Member 1, 2, 3</p>
                    <p>Active: 2000-present</p>
                </div> -->
            </div>
        </div>
    </div>

    <script type='text/javascript' src="controls.js">

    </script>
</body>
</html>