<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Music Archive</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="styles.css">

</head>
<body>

    <div id="header">
        <h1>Music Archive</h1>
    </div>
    <div id="line"></div>

    <div id="body">
        <div id="column">
            <h2>Lists</h2>

            <div id="content-box">
                <h3>Create new list</h3>
                <div id="create-bar">
                    <input type="text" class="text-input" id="inputListName" placeholder="List Name">
                    <button class="btn" id="btnCreateList">Create</button>
                </div>
            </div>

        </div>

        <div id="line"></div>

        <div id="column">
            <h2>Search</h2>
        </div>
    </div>

</body>

<!--Linking control Javascript -->
<script src="controls.js"></script>